<h1>Restaurants</h1>
 <%= link_to "Add new restaurant", restaurants_new_path %>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <%= link_to restaurant.name , restaurants_path(restaurant)  %>
      <%= link_to "X", restaurants_path(restaurant), method: :delete, data: {confirm: "Are you sure?"} %>
    </li>
  <% end %>
</ul>
